body {
    background-color: #ebf0f5;
}

.card {
    margin: 5em auto;
    width: 20em;
    padding: 2em;
}

#inputUsername, #inputPassword {
    margin-bottom: 1em;
}

#linkRegisterPage {
    width: 8em;
    margin: auto;
}

#linkLoginPage {
 margin-top: 2em;
}

#linkLogout {
    color: red;
}

.alert {
    margin: 2em auto;
    max-width: 30em;
    text-align: center;
}

.pagination>li>a.active {
    background-color: orange !important;
}

.tdFormPrivilege {
    width: 35%;
}

.tdEraseManager {
    width: 15%;
}

.tdBtnLink {
    width: 10%;
}

#btnEmployeeList {
    display: flex;
    justify-content: space-between;
}

#formAddWorker {
    margin: 2em auto;
    width: 20em;
}