{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <h3 class="text-center mt-4">Ajouter du matériel</h3>
        <div class="formEdit">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
