{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <div id="btnEmployeeList">
            <div class="btn-group mt-2" role="group">
                <a href="{{ path('employee_indexWorkers') }}" type="button"
                   class="btn btn-outline-info" id="btnWorkers">
                    Liste des compagnons
                </a>
                <a href="{{ path('employee_indexManagers') }}" type="button"
                   class="btn btn-info" id="btnManagers">Liste des cadres
                </a>
            </div>
            {% if is_granted("ROLE_RH") %}

            {% endif %}
        </div>
        {% include 'employee/managers/managersTable.html.twig' %}
    </div>
{% endblock  %}

