{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <h3 class="text-center mt-4">Ajouter un chantier</h3>
        <div id="formAddConstruction">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

