{% extends 'base.html.twig' %}

{% block body %}
    {% include 'NavBar/NavBar.html.twig' %}
    <div class="container mt-2">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div id="btnEmployeeList">
            <div class="btn-group mt-2" role="group">
                <button type="button" class="btn btn-info" id="btnWorkers"
                        onclick="toggleEmployeeTab('workers')">Liste des compagnons
                </button>
                <button type="button" class="btn btn-outline-info" id="btnManagers"
                        onclick="toggleEmployeeTab('managers')">Liste de
                l'encadrement
                </button>
            </div>
            {% if is_granted("ROLE_RH") %}
            <div id="btnAddWorker">
                <a href="{{ path('employee_workerAdd') }}"
                   class="btn btn-primary btn-sm">Ajouter un compagnon</a>
            </div>
            {% endif %}
        </div>
        {% include 'employee/workersTable.html.twig' %}
        {% include 'employee/managersTable.html.twig' %}
    </div>
{% endblock  %}

